<!doctype html>
<html>
    <head>
        <title>{{ .title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/js/sprintf.min.js"></script>
        <script src="/static/js/Chart.js"></script>
        <style type="text/css">
            canvas {
                width: 100%;
                height: auto;
            }

            body {
                padding-top: 40px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <span class="navbar-brand">UHF Activity in the Mission, San Francisco</span>
            </div>
        </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h3>Survey<br><small>Times are in PDT (UTC-0700)</small></h3>
                        <select id="dataSelector" class="form-control" size="5"> </select>
                    </div>
                </div>
                <div class="col-md-9" id="chartArea">
                    <h3 id="chartTitle">(Select a survey)</h3>
                    <canvas id="canvas" height="200" width="300"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>What is this?</h3>
                        </div>
                        <div class="panel-body"><p>A continuous survey of RF spectral power data across the 300MHz-3GHz (UHF) band at/near <a href="https://www.google.com/maps/place/2519+Mission+St,+San+Francisco,+CA+94110" target="_blank">our office</a> in San Francisco.</p>
                            <p> View the entire spectrum at a certain point in time, or click on a point to see power in that band over time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>How did you collect this data?</h3>
                        </div>
                        <div class="panel-body"><p>We're using a <a href="https://www.nuand.com/blog/product/bladerf-x115/" target="_blank">BladeRF SDR</a>  and a wide-band antenna connected to a laptop to collect spectral power information using a modified version of <code>osmocom_spectrum_sense</code>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Where can I get your code?</h3>
                        </div>
                        <div class="panel-body"><p>Our code is currently publicly unavailable, but we do plan on making the collection software available and providing upload API keys for anyone interested in helping us expand our survey.</p>
                            <p>Send us an email at <a href="mailto://spectrum@thisisbeep.com">spectrum@thisisbeep.com</a> to get set up.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                    <span class="glyphicon glyphicon-copyright-mark"></span> Beep, Inc. 2015.  For demonstration purposes only.  Beep, Inc. provides no guarantee of accuracy or correctness nor assumes liability for any usage of this data or its derivatives.
                    </p>
                </div>
            </div>
        </div>
    <script src="/static/js/main.js"></script>
    </body>
</html>
