<!doctype html>
<html>
    <head>
        <title>Spectrum Viewer</title>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/static/js/Chart.js"></script>
    </head>
    <body>
        <div style="width:100%">
            <canvas id="canvas" height="200" width="1000"></canvas>
        </div>
        <!-- <img style="width:98%; margin-left: 32px" src="freq_alloc.jpg"> -->
        <div>
            <select id="dataSelector" size="10">
            </select>
        </div>
    <script src="/static/js/main.js"></script>
    </body>
</html>
