<!doctype html>
<html>
    <head>
        <title>Spectrum Viewer</title>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/static/js/Chart.js"></script>
        <style type="text/css">
            #loadingOverlay {
                left:50%;
                width:100px;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                position:relative;
                background-color:grey;
                text-align: center;
                float: left;
            }
        </style>
    </head>
    <body>
        <div style="width:100%;">
            <div id="loadingOverlay"> Loading... </div>
            <canvas id="canvas" height="300" width="1000"></canvas>
        </div>
        <!-- <img style="width:98%; margin-left: 32px" src="freq_alloc.jpg"> -->
        <div id="inputArea">
            <p><select id="dataSelector" size="10"> </select></p>
            <p>Decimation Factor <input id="decFactor" type="number" value="500"/></p>
        </div>
    <script src="/static/js/main.js"></script>
    </body>
</html>
